/* 初期化 */
@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

.top-box{
    padding-top: 30px;
}

.top-image{
    width: 100%;
    background-image: url(img/meerkat_yuuhi.jpg);
    background-size: cover;
    text-align: center;
    height: 450px;
    background-color: #e4c6a6;
    border-radius: 10px 10px 10px 10px;
}

.top-title{
    font-size: 85px;
    padding-top: 130px;
    font-weight: bold;
  color: transparent;
  text-shadow: 3px 3px 0 #8e775d;
  -webkit-text-stroke: 1px #e4c6a6;
}

/**/
.event-campain{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    color: #8e775d;
    padding-bottom: 50px;
}

.event-list {
    background: #e6cd8c;
  box-shadow: 0px 0px 0px 10px #e6cd8c;/*線の外側*/
  border: dashed 2px #8e775d;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 10px 0.5em 0.5em 2em;
  }

.material-symbols-outlined{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 30px;
    color: #8e775d;
}

.event-campain a{
    font-size: 20px;
    color: #8e775d;
}
